[run]
# Mide core + CLI (todo el directorio cli)
source = backgammon/core,backgammon/cli
branch = True
omit =
    */__init__.py
    */tests/*

[report]
show_missing = True
skip_empty = True
include =
    backgammon/core/*.py
    backgammon/cli/*.py
omit =
    */__init__.py
    */tests/*

[html]
directory = htmlcov